.about{
  margin-top: 100px;
}
.general {
 max-width: 600px;

  p {
    font-family: "Courier";
    font-size: 20px;
    color: white;
    max-width: 90%;
  }
}

.text{
  border-radius: 5px;
  background-color: #fff;
  width: 250px;
  
}
.input{
  background-color: #fff;
  border-radius: 5px;
  
}
.contact-form{
display: flex;
flex-direction: column;
height: 400px;
background-color: rgb(114, 114, 114);
width: 300px;
justify-content: space-around;
align-items: center;

}

@media (max-width:800px){
  .general {
    
   
     p {
       font-family: "Courier";
       font-size: 20px;
       color: white;
       width: 400px;
       margin: auto;
     }
   }

  .about{
    flex-direction: column;
  }
}