.about{
  padding: 50px;
  justify-content: center;
}
.general {
 max-width: 600px;

  p {
    padding: 10px;
    font-family: "Courier";
    font-size: 20px;
    color: white;
    max-width: 90%;
  }
}

.text{
  border-radius: 5px;
  background-color: #fff;
  width: 250px;
  
}
.about-avatar{
  width: 150px;
  height: 150px;
  margin-top: 0;
  img{
    margin-top: 0;
  }
 
}
.input{
  background-color: #fff;
  border-radius: 5px;
  width: 250px;
  
}
.contact{
  background-color:#3c3737
}
.contact-btn{
  width: 200px;
    color: #818181;
    background-color: orange;
    height: 38px;
    border-radius: 5px;
    outline-style: none;
    border: none;
    cursor: pointer;
    &:hover{
      background-color: gold;
    }
}

.contact-form{
display: flex;
flex-direction: column;
min-height: 400px;
background-color:#3c3737;
width: 300px;
justify-content: space-around;
align-items: center;
h1{
  color: white;
  margin-bottom: 10px;
}

}
.error-msg h5{
  margin: 0;
  color: red;
  border: 2px solid red;
}


@media (max-width:800px){
  .general {
    
   
     p {
       font-family: "Courier";
       font-size: 20px;
       color: white;
      max-width: 600px;
       margin: 20px auto;
     }
   }

  .about{
    flex-direction: column;
  }
  
}
@media (max-width:560px){
  .contact{
    flex-direction: column-reverse;
      align-items: center;
      height: 100vh;
  }
  .social{
    min-height: 210px;
  }
  .fotter{
    font-size: 14px;
  }
}